.footer {
    margin-top: 30vh;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.footer input {
    display: none;
}

.footer img {
    width: 70px;
    height: 70px;
}

.footer label h4 {
    color: #472D2D;
    padding-top: 10px;
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
    opacity: 0;
    transition: 0.5s;
}

.footer label {
    position: relative;
    width: 0;
    height: 128px;
    cursor: pointer;
    transition: 0.5s;
    filter: grayscale(1);
    text-align: center;
    opacity: 0;
}

.footer:hover label {
    width: 160px;
    opacity: 0.2;
}

.footer input:hover + label,
.footer input:checked + label {
    filter: grayscale(0);
    opacity: 1;
    width: 160px;
}

.footer input:hover + label h4,
.footer input:checked + label h4 {
    opacity: 1;
    transform: translate(0) scale(1);
}

.text {
    position: absolute;
    top:-80px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    font-size: 40px;
    color: #472D2D;
}